<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/* Head Partial */-->
<head th:replace="partials/partials :: head('Homepage')"></head>
<body>
<!--/* Navbar Partial */-->
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--/* Main Container */-->
<div id="main-container">

    <!--/* Form to Create Post and submit it to PostContoller/Line 84 */-->
    <form th:action="@{/posts/createPost}" th:method="post" th:object="${post}">

        <!--/* Title Input */-->
        <label for="post-title"> Title:
            <input th:field="*{title}" id="post-title"/>
        </label>
        <br />

        <!--/* Description Input */-->
        <label for="post-body"> Description:
            <textarea th:field="*{description}" id="post-body"></textarea>
        </label>
        <br />

        <!--/* Button to submit */-->
        <input type="submit" />
    </form>
    <!--/* Form End */-->







    <!--/* Footer Partial */-->
    <div th:replace="partials/partials.html :: JS"></div>
</div>
<!--/* Main Container */-->
</body>
</html>