<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head Partial -->
<head th:replace="partials/partials :: head('Post')"></head>
<body>
<!-- Navbar Partial-->
<nav th:replace="partials/partials.html :: navbar"></nav>

<!-- Main Container -->
<div id="main-container">

    <h2>Selected Post</h2>
    <p style="font-weight: bold;" th:text="${post.title}"></p>
    <p style="padding-left: 2rem" th:text="${post.description}"></p>

    <!-- Scripts Partial-->
    <div th:replace="partials/partials.html :: JS"></div>
</div>
</body>
</html>