<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/* Head Partial */-->
<head th:replace="partials/partials :: head('Post')"></head>
<body>
<!--/* Navbar Partial*/-->
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--/* Main Container */-->
<div id="main-container">

    <!--/* Main Header */-->


    <!--/* Using attribute passed from PostController/Line 68
    set the Posts title and description with inline styling */-->
    <h2 th:text="${post.title}"></h2>
    <p style="padding-left: 2rem" th:text="${post.description}"></p>
    <p>Post created by:
    <br>
    <span th:text="${post.user.username}"></span>
    <br>
    <a th:text="${post.user.email}" th:href="@{|mailto:${post.user.email}|}"></a>
    </p>
    <br>


    <!--/* Anchor tag that links to PostController/Line 105 */-->
    <a class="btn btn-primary" th:href="@{|/posts/update/${post.id}|}">Update</a>

    <!--/* In a div (easy to style) a button is placed to open a model
        inside the model there is a form to submit the Post's id to 
        PostController/Line 122 */-->
    <div>

        <!--/* Button trigger modal */-->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deletePost">
            Delete
        </button>

        <!--/* Modal */-->
        <div class="modal fade" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="deleteConfirm" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirm">Are you sure you want to delete this post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Doing this is permanent and you will be unable to get it back!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <form action="/posts/delete" method="post">
                            <button type="submit" name="id" th:value="${post.id}"> Confirm Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/* Other example */-->
<!--/*    <div>*/-->
<!--/*        <form method="post">*/-->
<!--/*            <a class="btn" th:formaction="'/posts/delete/' + ${post.id}">Delete Post</a>*/-->
<!--/*        </form>*/-->
<!--/*    </div>*/-->


    <!--/* Scripts Partial*/-->
    <div th:replace="partials/partials.html :: JS"></div>
</div>
<!--/* Main Container */-->
</body>
</html>