<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/* Head Partial */-->
<head th:replace="partials/partials :: head('Homepage')"></head>
<body>
<!--/* Navbar Partial */-->
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--/* Main Container */-->
<div id="main-container">

    <!--/* Form to Update Post with all info filled in using data from
        PostController/Line 114 */-->
    <form th:action="@{|/posts/${post.id}/edit|}" th:method="post" th:object="${post}">
        <!--/* Post Title input */-->
        <label for="updated-title"> Title:
            <input th:field="*{title}" id="updated-title"/>
        </label>
        <br/>

        <!--/* Post Description input */-->
        <label for="updated-description"> Description:</label>
        <textarea th:field="*{description}" id="updated-description" rows="auto"></textarea>
        <br/>

        <!--/* Button to submit */-->
        <input type="submit"/>
    </form>
    <!--/* Form End */-->

    <!--/* Footer Partial */-->
    <div th:replace="partials/partials.html :: JS"></div>
</div>
<!--/* Main Controller */-->
</body>
</html>