

/**/
/** CSS for navbar **/
/**/

#main_nav {
    height: 100px;
    width: 100vw;
}

/**/
/** CSS for Jumbotron **/
/**/

#jumbotron-container {
    padding-top: 110px;
    height: 80vh;
    background-image: url("../img/light-landscape-nature-forest-117843.jpg");
    background-size: cover;
}

/**/
/** CSS for Main Container **/
/**/

#main-container {
    padding-top: 110px;
}