
body {
    background-color: #CECCBE;
}

/**/
/** CSS for navbar **/
/**/

#main_nav {
    height: 100px;
    width: 100vw;
    z-index: 1;
    background-color: #E7E5D7;
}

#main_nav a, #main_nav button{
    color: black;
    text-decoration: none;
}

#main_nav a:hover {
    color:black;
}

#main_nav a:active {
    color: black;
}

#nav-drop {
    background-color: #E7E5D7;
}

/**/
/** CSS for Jumbotron **/
/**/

#jumbotron-container {
    padding-top: 110px;
    height: 80vh;
    background-image: url("../img/light-landscape-nature-forest-117843.jpg");
    background-size: cover;
}

/**/
/** CSS for Main Container **/
/**/

#main-container {
    padding-top: 110px;
    background-color: #CECCBE;
}

#post-body {
    background-color: #E7E5D7;
}

/*color for social links*/
/*#4b8e48*/

/**/
/** CSS for Wow Page **/
/**/

#shadowlands {
    color: aliceblue; 
    text-align:center; 
    background-image: url("../img/Icecrown.jpg"); 
    background-size: cover;
}

#rareName, #rareName1 {
    color:crimson; 
    font-style:italic;}

#shadowlands h3 {
    text-decoration: underline;
}
