<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/* Head Partial */-->
<head th:replace="partials/partials :: head('Dice Results')"></head>
<body>
<!--/* Navbar Partial */-->
<nav th:replace="partials/partials.html :: navbar"></nav>

<!--/* Main Container */-->
<div id="main-container">

    <!--/* Display message on right or not */-->
    <div class="alert text-center">
        <h1 th:text="${message}"></h1>
    </div>

    <!--/* Displays result of the dice number and the guess */-->
    <div class="text-center">
        <h2>Results</h2>
        <p>Dice : <span th:text="${dice}"></span></p>
        <p>Your Guess : <span th:text="${guess}"></span></p>

        <!--/* Button to take you back to the start of game */-->
        <button><a href="/roll-dice">Try Again?</a></button>
    </div>

    <!--/* Scripts Partial */-->
    <div th:replace="partials/partials.html :: JS"></div>
</div>
</body>
</html>